{{#partial "styles"}}
    <link rel='stylesheet' href='/styles.css'>
{{/partial}}
{{#partial "content"}}
    <div class="success">
        <h1>Success!</h1>
        <p>Your Hero post has been saved.</p>
        <p><a href="/heroes/list"> View your Heroes</a></p>

    </div>

{{/partial}}
{{>layout.hbs}}