body{
background-image: url('images/hand sword.jpg');
text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
color:blue;
}

.nav{
font-size:;
}
nav ul li a{
    text-decoration:none;
    }
.name1{
color:blue;
}