{{#partial "content"}}
    <h1 id="name1-1">Add a new Squad</h1>
    <div class="container cont-2 cont-2-3-1" id="cont-0">
        <div class="col-md-12 text-center">
            <button type="button" ><a href="/squad">Add your <strong>Squad</strong></a></button>
        </div>
    </div>

{{/partial}}
